@charset "UTF-8";
html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.body_bg {
    background-color: #222d32;
}

.mt_150 {
    margin-top: 150px;
}

.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
}

.lt_aside.now {
    left: -180px;
}

.lt_aside .brand a {
    display: block;
    background-color: #367fa9;
    width: 180px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.lt_aside .user img {
    display: block;
    border-radius: 50%;
    margin: 30px auto 0;
}

.lt_aside .user p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
}

.lt_aside .nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    /*text-align: center;*/
    padding-left: 40px;
    color: #fff;
    border-left: 3px solid transparent;
}

.lt_aside .nav a.now {
    background-color: #1d1f21;
    border-color: #069;
}

.lt_aside .nav .second a {
    padding-left: 60px;
}

.lt_main {
    width: 100%;
    height: 100%;
    /*background-color: pink;*/
    padding-left: 180px;
    transition: all 1s;
}

.lt_main.now {
    padding-left: 0;
}

.lt_main .main_header {
    height: 50px;
    background-color: #3c8dbc;
    line-height: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.lt_main .main_header a {
    color: #fff;
    font-size: 16px;
}

.main_body_content .charts_1,
.main_body_content .charts_2 {
    width:45%;
    height: 400px;
}
.table.table-bordered th,
.table.table-bordered td{
    text-align: center;
    vertical-align: middle;
}
.mb_20{
    margin-bottom: 20px;
}
/*.file_box{*/
    /*width: 82px;*/
    /*height: 34px;*/
    /*position: relative;*/
/*}*/
/*.file_box:hover [type='button']{*/
    /*background-color: #ddd;*/
/*}*/
/*.file_box [type='file']{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*opacity: 0;*/
/*}*/